<html>
    <head>
        <%- include("head.ejs"); %>
    </head>
    <body class="container">
        <div class="alert alert-success p-3 mb-5">
            <h2>Tìm kiếm mã đã xuất</h2>
        </div>
        <%- include("searchcode.ejs"); %>
    </body>
</html>